{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .texta{
            text-align: center;
        }
        #heade{
            font-size: 25px;
        }
        #topic{
            font-size: 35px;
        }
        .info{
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color: aquamarine;">
    <h2 id="topic" class="texta">This is Home Page</h2>
    <p id="heade" class="texta">
        You can click from navbar:
    </p>
    <p class="texta info">
        About
    </p>
    <p class="texta info">
        Contact Us
    </p>
    <p class="texta info">
        Services
    </p>
</body>
</html>
{% endblock body %}